* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Space Grotesk";
}

:root {
  --white-color: #ffffff;
  --black-color: #293037;
  --pinkish-red-color: #ff5a79;
  --Silver-color: #c4c4c4;
  --Olive-Gray-color: #6c6f64;
  --Gray-color: #b4b4b4;
  --Caramel-color: #c1844d;
}

/* ===============mobile first================  */
/* general styling */

.flex {
  display: flex;
}
.justify-content-spaceBetween {
  justify-content: space-between;
}
.dir-column {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.container-90 {
  width: 90%;
  margin: 0 auto;
}
/* .container-80{
    width: 85%;
    margin: 0 auto;
} */
w-100 {
  width: 100%;
}
a {
  text-decoration: none;
}
/* header section+++++++++++++++++++++++++++++  */
header {
  padding: 25px 10px;
  align-items: center;
}
header .menu a span {
  color: var(--black-color);
  font-weight: 500;
  margin-right: 4px;
}

/* hero section+++++++++++++++++++++++++++++  */
section.hero-section {
  background-image: url("../images/oillllll 1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 16px;
  text-align: center;
  height: auto;
}
.hero-section h3 {
  color: var(--Caramel-color);
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}
.hero-section h2 {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 700;
}
.hero-section p {
  color: var(--white-color);
  font-size: 8.5px;
  font-weight: 400;
}
/* about our company section+++++++++++++++++++++++++++++  */
.about-section {
  padding: 16px;
}
.about-section h3 {
  font-size: 12px;
  color: var(--Caramel-color);
  text-decoration: underline;
  margin-bottom: 16px;
  font-weight: 400;
}
.about-section h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.about-section p {
  margin-bottom: 16px;
  font-size: 11px;
  color: var(--Gray-color);
}
/* what-can-we-do section+++++++++++++++++++++++++++++  */
.what-can-we-do {
  background-image: url("../images/unsplash_BCceraTWbhc.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 16px;
  text-align: center;
  height: auto;
}
.what-can-we-do h2 {
  font-size: 12px;
  font-weight: 400;
  color: var(--Caramel-color);
  margin-bottom: 8px;
  text-decoration: underline;
}
.what-can-we-do h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--white-color);
  margin-bottom: 16px;
}
.what-can-we-do p {
  font-size: 8.5px;
  color: var(--white-color);
  font-weight: 200;
  margin-bottom: 20px;
}

/* service section+++++++++++++++++++++++++++++  */
.service-section {
  padding: 16px;
}
.service-section h2 {
  font-size: 12px;
  font-weight: 400;
  color: var(--Caramel-color);
  margin-bottom: 8px;
  text-decoration: underline;
}
.service-section h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--black-color);
  margin-bottom: 16px;
}
.service-section p {
  font-size: 13px;
  color: var(--Gray-color);
  font-weight: 200;
  margin-bottom: 20px;
}

/* product section+++++++++++++++++++++++++++++  */

.products {
  background-color: var(--black-color);
  border-radius: 20px;
  padding: 16px;
  text-align: center;
  margin-bottom: 24px;
}
.products h2 {
  font-size: 12px;
  color: var(--Caramel-color);
  font-weight: 300;
  text-decoration: underline;
  margin-bottom: 8px;
}
.product h3 {
  font-size: 20px;
  color: var(--white-color);
  margin-bottom: 16px;
}
.product img {
  width: 100%;
  margin-bottom: 16px;
}
.product p {
  font-size: 11.4px;
  color: var(--white-color);
  margin-bottom: 15px;
}
.product ul {
  margin-bottom: 16px;
}
.product ul li {
  color: var(--white-color);
  font-size: 12px;
  width: 30%;
  gap: 5px;
  text-align: left;
  display: inline-block;
  list-style: none;
  padding: 8px;
  position: relative;
  padding-left: 14px;
}
.product ul li::before {
  content: "●";
  font-size: 20px;
  position: absolute;
  left: -2px;
  top: 2px;
  line-height: 1;
}

/* location section+++++++++++++++++++++++++++++  */
.location {
  padding: 16px;
}
.location h3 {
  color: var(--Caramel-color);
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 16px;
}
.location h2 {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 16px;
}
.location p {
  font-size12px: ;
  color: var(--Gray-color);
  margin-top: 16px;
}
.location img {
  width: 100%;
  margin-bottom: 16px;
}
.location .list {
  border-bottom: 1px solid var(--Caramel-color);
  border-top: 1px solid var(--Caramel-color);
  position: relative;
  width: 80%;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
  /* align-items: center; */
  /* list-style: disc !important; */
}
.location ul li {
  display: flex;
  gap: 50px;
  animation: scroll 15s linear infinite;
  white-space: nowrap;
  padding: 10px 0;
  margin: 0 10px;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
