/* Start with the mobile screen design,
 then set the breakpoint for the
  larger screen. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Space Grotesk";
}

:root {
  --white-color: #ffffff;
  --black-color: #293037;
  --pinkish-red-color: #ff5a79;
  --Silver-color: #c4c4c4;
  --Olive-Gray-color: #6c6f64;
  --Gray-color: #b4b4b4;
  --Caramel-color: #c1844d;
}
/* ===============mobile first================  */
/* general styling */
.flex {
  display: flex;
}
.justify-content-spaceBetween {
  justify-content: space-between;
}
.dir-column {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.container-90 {
  width: 90%;
  margin: 0 auto;
}
h3 {
  font-size: 12px;
  font-weight: 400;
  color: var(--Caramel-color);
  margin-bottom: 8px;
  text-decoration: underline;
}
h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--black-color);
}
p {
  color: var(--white-color);
  font-size: 8.5px;
  font-weight: 400;
}
p.inWhite {
  margin-bottom: 16px;
  font-size: 11px;
  color: var(--Gray-color);
}
section.hero-section,
.what-can-we-do,
.contact {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 16px;
  text-align: center;
  height: auto;
}
w-100 {
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--white-color);
}
button{
  background:none;
  border: 0;
  cursor: pointer;
}
/* header section+++++++++++++++++++++++++++++  */
header {
  padding: 25px 10px;
  align-items: center;
}
header .menu a span {
  color: var(--black-color);
  font-weight: 500;
  margin-right: 4px;
}
.navbar{
  background: var(--black-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  height: 100vh;
  transform: translate(100%);
  transition:transform 0.3s ease-in-out;
}
.navbar.active {
    transform: translateX(0); 
}
.navbar .nav-head{
  margin-bottom: 40px;
}
.navbar .nav-links{
  list-style: none;
  gap: 30px;
  border-bottom:1px solid var(--white-color) ;
  padding-bottom: 48px;
}
.navbar .nav-links li a{
  /* color: var(--Caramel-color); */
      transition: background-color 0.3s;

}
.navbar .nav-links li a:hover{
  color: var(--Caramel-color);
}
.navbar .nav-footer h3{
  color: var(--Gray-color);
  text-decoration: none;
  font-size: 12px;
  /* margin: 15px 0; */
  padding: 20px;
  text-align: center;

}
.navbar .nav-footer .social-media img{
  margin: 0 auto;
  width: 100%;
  padding:  0 50px;
}

/* hero section+++++++++++++++++++++++++++++  */
section.hero-section {
  background-image: url("../images/oillllll 1.png");
}
/* about our company section+++++++++++++++++++++++++++++  */
.about-section {
  padding: 16px;
}
/* what-can-we-do section+++++++++++++++++++++++++++++  */
.what-can-we-do {
  background-image: url("../images/unsplash_BCceraTWbhc.png");
}
/* service section+++++++++++++++++++++++++++++  */
.service-section {
  padding: 16px;
}
/* product section+++++++++++++++++++++++++++++  */
.products {
  background-color: var(--black-color);
  border-radius: 20px;
  padding: 16px;
  text-align: center;
  margin-bottom: 24px;
}
.products h2 {
  color: var(--white-color);
}
.product img {
  width: 100%;
  margin-bottom: 16px;
}
.product ul {
  margin-bottom: 16px;
}
.product ul li {
  color: var(--white-color);
  font-size: 12px;
  width: 30%;
  gap: 5px;
  text-align: left;
  display: inline-block;
  list-style: none;
  padding: 8px;
  position: relative;
  padding-left: 14px;
}
.product ul li::before {
  content: "●";
  font-size: 20px;
  position: absolute;
  left: -2px;
  top: 2px;
  line-height: 1;
}

/* location section+++++++++++++++++++++++++++++  */
.location {
  padding: 16px;
}
.location img {
  width: 100%;
  margin-bottom: 16px;
}
.location .list {
  border-bottom: 1px solid var(--Caramel-color);
  border-top: 1px solid var(--Caramel-color);
  position: relative;
  width: 80%;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}
.location ul li {
  display: flex;
  gap: 50px;
  animation: scroll 15s linear infinite;
  white-space: nowrap;
  padding: 10px 0;
  margin: 0 10px;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* contact section+++++++++++++++++++++++++++++  */
.contact {
  background-image: url("../images/contactUs.png");
}
.contact h2 {
  color: var(--white-color);
}
.contact form {
  gap: 16px;
}
.contact form input::placeholder,
textarea::placeholder {
  color: var(--white-color);
}
.contact form input,
textarea {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid var(--white-color);
  border-radius: 8px;
  padding: 14px;
  text-align: center;
}
.contact form button {
  background: var(--white-color);
  border-radius: 8px;
  padding: 14px;
}

footer {
  padding: 16px;
}
footer .logo-section {
  margin: 15px 0;
}
footer .logo-section img {
  width: auto;
  margin-left: 0;
}
footer .logo-section .social-media {
  width: 60%;
  margin-left: 88px;
}
footer .logo-section .social-media img {
  margin: 5px;
  width: auto;
}
footer .location-section {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.location-section h2,
.contact-section h2 {
  width: 40%;
  font-size: 12px;
}
.location-section p {
  margin-left: 88px;
}

.contact-section {
  margin: 15px 0;
  border-bottom: 2px solid var(--black-color);
  padding-bottom: 16px;
}
.contact-section p {
  font-size: 10px;
  margin-left: 88px;
}
.copy-right-section span {
  font-size: 9px;
  text-align: center;
  margin: 0 auto;
}
